<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622886746227-m4rlc0t0ep3c47k90brd3nokd1eslkv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622886746227-m4rlc0t0ep3c47k90brd3nokd1eslkv7</string>
	<key>API_KEY</key>
	<string>AIzaSyBDOZqazcPx9nIxCYFKCrSGoHy3JXYx1OE</string>
	<key>GCM_SENDER_ID</key>
	<string>622886746227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BarcodeScanner1</string>
	<key>PROJECT_ID</key>
	<string>login-test-31869</string>
	<key>STORAGE_BUCKET</key>
	<string>login-test-31869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622886746227:ios:9cfa85212ddef175821206</string>
</dict>
</plist>